body{
	
	background-repeat: no-repeat;
	background-size: cover;

}

.form-style{
	border: 0;
	height: 50px;
	border-radius: 0;
	border-bottom: 1px solid #ebebeb;
}

.form-style input:focus{
	border-bottom: 1px solid #007bff;
	box-shadow: none;
	outline: 0;
	background-color: #ffffff;
}

.sideline{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ccc;
}

button{
	height: 50px;
}

.sideline:before,
.sideline:after{
	content: '';
	border-top: 1px solid #ebebeb;
	margin: 0 20px 0 0;
	flex: 1 0 20px;
}

.sideline:afeter{
	margin: 0 0 0 20px;
}

.flipped{
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	transform: rotateY(0deg);
	
}

.reverse{
	transition: 0.6s;
	cursor: default;
	transform-style: preserve-3d;
	position: relative;
	transform: rotateY(180deg);
}

.correct{
	opacity: 0.5;
	cursor: default;
	transform-style: preserve-3d;
	position: relative;
	transform: rotateY(0deg);
}

.inicio a{
width: 100%;
text-decoration: none;	
}

/*Icons*/
.correct[data-item="sass"], .flipped[data-item="sass"]{
	background: url("https: //cathydutton.co.uk/images/tech/sass.jpg") left center no-repeat #fff;
	background-size: contain;
}

.correct[data-item="gulp"], .flipped[data-item="gulp"]{
	background: url("https: //cathydutton.co.uk/images/tech/gulp.jpg") left center no-repeat #fff;
	background-size: contain;
}

