body{
    background-color: honeydew;
}
table,tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    background-color: rgb(73, 95, 168);
    color: white;
}
td{
    border: 1px solid black;
    background-color: white;
}
